.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gap-xs);
  width: var(--button-md-h);
  height: var(--button-md-h);
  border-radius: var(--border-rounded);
  background: var(--background-color);
  cursor: pointer;

  &:hover {
    background: rgba($color: var(--gray-200-rgb), $alpha: 0.2);
  }

  &:active {
    background: rgba($color: var(--gray-200-rgb), $alpha: 0.35);
  }

  &__control {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--border-rounded);
    cursor: pointer;

    &::-webkit-color-swatch {
      border-radius: var(--border-rounded);
    }
    &::-moz-color-swatch {
      border-radius: var(--border-rounded);
    }
  }
}
