<div class="popover-body theme-popover">
  <div class="theme-popover__control">
    <h3>Current Theme: </h3>
    <sh-button type="icon" (onClick)="toggleTheme()">
      @if (theme().mode === Theme.LIGHT) {
      <i class="bi bi-brightness-high-fill"></i>
      } @else {
      <i class="bi bi-moon-fill"></i>
      }
    </sh-button>
  </div>

  <div class="theme-popover__control">
    <h3>Primary Color: </h3>
    <sh-button type="icon">
      <!-- <i class="bi bi-moon-fill"></i> -->
      <i class="bi bi-brightness-high-fill"></i>
    </sh-button>
  </div>

  <div class="theme-popover__control">
    <h3>Secondary Color: </h3>
    <sh-button type="icon">
      <!-- <i class="bi bi-moon-fill"></i> -->
      <i class="bi bi-brightness-high-fill"></i>
    </sh-button>
  </div>

  <div class="theme-popover__control">
    <h3>Tertiary Color: </h3>
    <sh-button type="icon">
      <!-- <i class="bi bi-moon-fill"></i> -->
      <i class="bi bi-brightness-high-fill"></i>
    </sh-button>
  </div>
</div>