@mixin button {
  background: transparent;
  border-radius: var(--border-rounded);
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    &.icon:not(.active),
    &.blank:not(.active) {
      transition: background 0.1s;

      &:hover {
        background: rgba($color: var(--gray-200-rgb), $alpha: 0.2);
      }

      &:active {
        background: rgba($color: var(--gray-200-rgb), $alpha: 0.35);
      }
    }
  }

  &.icon {
    width: var(--button-md-h);
    height: var(--button-md-h);
  }

  &.primary,
  &.secondary,
  &.outlined {
    transition: background 0.1s;

    @media only screen and (min-width: 768px) {
      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        filter: brightness(0.8);
      }
    }
  }

  &.primary {
    color: var(--light);
    background: var(--primary-color);
  }

  &.secondary {
    color: var(--light);
    background: var(--secondary-color);
  }

  &.blank {
    background: transparent;
    color: var(--text-color);
  }

  &.dark {
    color: var(--dark);
  }
}
