.section {
  padding: var(--gap-sm);
  color: var(--dark);
  background: rgba($color: var(--white-400-rgb), $alpha: 1);
  border-radius: var(--border-rounded);

  &-label {
    margin-bottom: var(--gap-md);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-decoration: underline;
  }

  &-form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--gap-lg);

    &__control {
      width: calc(50% - calc((var(--gap-lg) / 2)));
      min-width: 168px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-md);
    margin-top: var(--gap-xl);
    width: 100%;
  }
}
