@import "../../../../shared/layout/styles/mixins/button";

button {
  @include button;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--gap-xs) var(--gap-sm);
  height: var(--button-md-h);
  font-size: 1.6rem;
}
