@import "../../../../../../shared/layout/styles/mixins/button";

.sidenav-item {
  @include button;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-md);
  margin-bottom: var(--gap-md);
  padding: var(--gap-xs) var(--gap-md);
  width: 100%;
  letter-spacing: 0.1rem;
  font-family: var(--font-secondary);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;

  &:not(.active) {
    padding: calc(var(--gap-xs) + 0.1rem) calc(var(--gap-md) + 0.1rem);
  }

  &.active {
    border: 0.1rem solid rgba($color: var(--gray-200-rgb), $alpha: 0.7);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &__label--item {
    display: inline-block;
  }
}

.label-overflowed {
  animation: move 11s linear infinite;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-100%, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
