@import "../../../../../../shared/layout/styles/mixins/button";

.sidenav-item {
  @include button;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--gap-xs) var(--gap-md);
  min-width: 15rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;

  &.active {
    border: 0.1rem solid rgba($color: var(--gray-200-rgb), $alpha: 0.7);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__label {
    margin-bottom: 0;
  }
}
