*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
body {
  height: 100vh;
  overflow: hidden;
}

:root {
  font-size: 10px;
  scroll-behavior: smooth;

  @media only screen and (max-width: 768px) {
    font-size: 8px;
  }

  @media only screen and (min-width: 1700px) {
    font-size: 12px;
  }
}

body {
  position: fixed;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}
