:root {
  --gap-xs: 5px;
  --gap-sm: 10px;
  --gap-md: 15px;
  --gap-lg: 20px;
  --gap-xl: 30px;

  --border-circle: 50%;
  --border-pill: 50px;
  --border-rounded: 5px;

  --button-xs-h: 25px;
  --button-sm-h: 30px;
}
