.code-snippet {
  padding: var(--gap-md);
  width: 100%;
  height: 100%;
  color: var(--dark);
  background: rgba($color: var(--white-400-rgb), $alpha: 1);
  border-radius: var(--border-rounded);
  overflow-x: hidden;
  overflow-y: auto;
}
