<div class="charts">
  <div class="charts__content container">

    <div class="charts__content__header">
      <sh-button type="icon" [name]="'Back to charts'" [routerLink]="['/']">
        <i class="bi bi-arrow-left"></i>
      </sh-button>
      <h3 (click)="changeData()" class="charts__content__header--title">{{currentChart()}}</h3>
    </div>

    <div class="charts__content__outlet">
      <router-outlet></router-outlet>
    </div>

    <div class="charts__content__filters">
      <sh-accordion [count]="2" [labels]="['Configuration', 'Code']" [templates]="[configuration, code]"></sh-accordion>
    </div>
  </div>
</div>

<ng-template #configuration>
  <p>Treść dla szablonu 1</p>
</ng-template>

<ng-template #code>
  <sh-code-snippet />
</ng-template>