@defer (on viewport; prefetch on idle) {
<aside>
  <div #sidenav class="sidenav" [ngClass]="{'open': sidenavOpen()}">
    <div class="sidenav__header">
      <img width="70" height="70" [src]="logoPath" alt="D3library app logo" class="topbar__logo--image">
    </div>
    <div class="sidenav__content">
      <section>
        <h3 class="sidenav__content--title">Homepage</h3>

        <ul>
          <li>
            <sh-sidenav-item [path]="''" [label]="'Homepage'">
              <i icon class="bi bi-house-door-fill"></i>
            </sh-sidenav-item>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="sidenav__content--title">Charts</h3>

        <ul>
          <li>
            <sh-sidenav-item [path]="'asd'" [label]="'Bar chart'">
              <i icon class="bi bi-bar-chart-fill"></i>
            </sh-sidenav-item>
          </li>
        </ul>
      </section>
    </div>
  </div>
</aside>
} @placeholder {
<aside></aside>
}
