<div class="chart-page">
  <sh-chart-card>
    <div #barChart id="bar-chart" class="chart"></div>
  </sh-chart-card>
</div>

<ng-template #barChartCode>
  <code>
    const element = this.chartContainer.nativeElement;
    <br>
    const data = ??? <span class="tertiary">//your data</span>
    <br>
    <br>
    const marginTop = <span class="tertiary">{{constants().margin.top}}</span>
    <br>
    const marginRight = <span class="tertiary">{{constants().margin.right}}</span>
    <br>
    const marginBottom = <span class="tertiary">{{constants().margin.bottom}}</span>
    <br>
    const marginLeft = <span class="tertiary">{{constants().margin.left}}</span>
    <br>
    <br>
    const svg = d3
    <br>
    .select(element)
    <br>
    .append('svg')
    <br>
    .attr('width', '100%')
    <br>
    .attr('height', '100%')
    <br>
    .attr('viewBox', `0 0 $(element.offsetWidth) $(element.offsetHeight)`);
    <br>
    <br>
    const contentWidth = element.offsetWidth - marginLeft - marginRight;
    <br>
    const contentHeight = element.offsetHeight - marginTop - marginBottom;
  </code>
</ng-template>
