<div class="popover-body theme-popover">
  <div class="theme-popover__control">
    <h3>Current Theme: </h3>
    <sh-button type="icon" (onClick)="toggleTheme()" [name]="'Toggle theme'">
      @if (theme().theme === Theme.LIGHT) {
      <i class="bi bi-brightness-high-fill"></i>
      } @else {
      <i class="bi bi-moon-fill"></i>
      }
    </sh-button>
  </div>

  <form [formGroup]="themeForm">
    <div class="theme-popover__control">
      <h3>Primary Color: </h3>
      <sh-color-picker [formGroup]="themeForm" [controlName]="'primary'"
        [datalistOptions]="['#3E78B2', '#258555', '#A657AE']" [datalistID]="'primary'" />
    </div>

    <div class="theme-popover__control">
      <h3>Secondary Color: </h3>
      <sh-color-picker [formGroup]="themeForm" [controlName]="'secondary'"
        [datalistOptions]="['#3E78B2', '#258555', '#A657AE']" [datalistID]="'secondary'" />
    </div>

    <div class="theme-popover__control">
      <h3>Tertiary Color: </h3>
      <sh-color-picker [formGroup]="themeForm" [controlName]="'tertiary'"
        [datalistOptions]="['#3E78B2', '#258555', '#A657AE']" [datalistID]="'tertiary'" />
    </div>
  </form>
</div>
