<div class="homepage">
  <div class="container">
    <div class="homepage-content">
      <header class="homepage-content__header">
        <h3><span>D3</span>Library</h3>
        <p>Showcase of different types of D3 charts with mock data.</p>

        <div class="homepage-content__header__buttons">
          <sh-button [type]="'primary'" [name]="'Get started'" [routerLink]="['/charts']" />
          <sh-button [type]="'secondary'" (click)="openD3Link('https://d3js.org/')" [name]="'Check D3 Documentation'" />
        </div>
      </header>

      <sh-glowing-dots-bg />

      <footer class="footer">
        <p>This is a training project and was created to practice using the D3.js library in Angular applications, as
          well
          as to experiment with other solutions.</p>
      </footer>
    </div>

  </div>
</div>