.chart {
  width: 100%;
  height: 100%;
  color: var(--dark);

  text {
    font-size: 1.4rem;
  }
}

code {
  font-size: 1.4rem;
  color: var(--dark);

  span.primary {
    color: var(--primary-color);
  }

  span.secondary {
    color: var(--secondary-color);
  }

  span.tertiary {
    color: var(--tertiary-color);
  }
}
