::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  background: rgba($color: var(--gray-300-rgb), $alpha: 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background: var(--primary-color);
}
